/* 2D domain structure */
.protein2d {
	width: 868px;
	/* height: 100px; */
	position: relative;
	margin: 20px 5px;
}
.protein2d div {
	position: absolute;
}
.protein2d  .dominacs {
	width: 100%;
	height: 38px;
}
.protein2d  .dominacs div{
    z-index: 3;
    position: absolute;
	top: 36px;
	height: 10px;
	cursor: pointer;
}
.protein2d .dombar {
	width: 100%;
	height: 8px;
	top: 50px;
	left: 0px;
	border-width: 1px;
	border-style: solid;
	z-index: 1;
	
	background-color: #aaa;
	border-color: #777;
}
.protein2d .domclick {
	top: 35px;
	left: 0px;
	height: 38px;
	width: 100%;
}
.protein2d .domain {
	top: 35px;
	height: 38px;
	line-height: 38px;
	border-width: 1px;
	border-style: solid;
	border-radius: 2px;
	z-index: 4;
	overflow: hidden;
	

	border-color: #999;
	text-align: center;
	font-weight: 600;
	cursor: pointer;
}
.protein2d .domain-bg{
	top: 35px;
	height: 38px;
	border-width: 1px;
	border-style: solid;
	border-radius: 2px;
    
    border-color: #eee;
	background-color: #eee;
	z-index: 2;
}
.protein2d .domain span {
	margin-left: 10px;
}

.protein2d .barmutation, .protein2d .barmutations .line {
	top: 30px;
	height: 50px;
	width: 2px;
	z-index: 1;
}
/*.protein2d .barmutations .rline, .protein2d .barmutations .lline {
	z-index: 1;
	top: 80px;
}

.protein2d .barmutations .rline {
    background: 
       linear-gradient(to top right,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) calc(50% - 1px),
           rgba(180,180,180,1) 50%,
           rgba(0,0,0,0) calc(50% + 1px),
           rgba(0,0,0,0) 100%);
    background: 
       -moz-linear-gradient(to top right,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) -moz-calc(50% - 1px),
           rgba(180,180,180,1) 50%,
           rgba(0,0,0,0) -moz-calc(50% + 1px),
           rgba(0,0,0,0) 100%);
    background: 
       -webkit-linear-gradient(to top right,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) -webkit-calc(50% - 1px),
           rgba(180,180,180,1) 50%,
           rgba(0,0,0,0) -webkit-calc(50% + 1px),
           rgba(0,0,0,0) 100%);
}
.protein2d .barmutations .lline {
    background: 
       linear-gradient(to top left,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) calc(50% - 1px),
           rgba(180,180,180,1) 50%,
           rgba(0,0,0,0) calc(50% + 1px),
           rgba(0,0,0,0) 100%);
    background: 
       -moz-linear-gradient(to top left,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) -moz-calc(50% - 1px),
           rgba(180,180,180,1) 50%,
           rgba(0,0,0,0) -moz-calc(50% + 1px),
           rgba(0,0,0,0) 100%);
    background: 
       -webkit-linear-gradient(to top left,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) -webkit-calc(50% - 1px),
           rgba(180,180,180,1) 50%,
           rgba(0,0,0,0) -webkit-calc(50% + 1px),
           rgba(0,0,0,0) 100%);
}*/
.protein2d .barmutdesc {
	top: 80px;
	width: 70px;
	text-align: center;
	font-size: 16px;
	z-index: 10;
}
.protein2d .startdesc, .enddesc, .ttstart, .ttend {
	font-size: 12px;
}
.protein2d .startdesc, .protein2d .enddesc {
	top: 73px;
	text-align: center;
	z-index: 9;
}
.protein2d .startdesc {
	left: -10px;
	width: 20px;
}
.protein2d .enddesc {
	right: -25px;
	width: 50px;
}
.tooltip2d {
	display: none;
}
.tooltip2d div {
	position: absolute;
	z-index: 6;
	word-break: keep-all;
}
.ttstart, .ttend {
	width: 30px;
	top: 23px;
	
	text-align: center;
}
.ttmid {
	font-weight: 600;
}
.ttmid .txt {
	color: #E1F0F9;
	background-color: #333;
	border-radius: 2px;
}
.ttmid .arrow {
	height: 0;
	width: 0;
	border: 5px solid transparent;
	border-top-color: #333;
	margin-top: 21px;
}
