.muttooltip {
	display: none;
}

#email .styled-text {
	display: inline;
	margin-left: 5px;
}

#submit {
	margin: 10px 0px 20px 200px;
}

#input {
    margin: 0;
}
#tabs {
    text-align: right;
    margin-top: 25px;
}
.tab {
    display: inline-block;
    padding: 3px 20px;
    border-color: #EBEBEB;
    border-style: solid;
    background-color: #EBEBEB;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-left: 5px;
    border-width: 1px 1px 0 1px;
    position: relative;
    top: 0px;
}
.tab.active {
    top: 1px;
    box-shadow: none;
    background-color: #F4F4F4;
}
#onetab {

}
#manytab {

}
#nothumanwarning, #notdomainwarning {
	font-size: 12px;
	font-weight: 600;
}
#nothumanwarning {
	width: 800px;
}
#notdomainwarning .help {
    position: relative;
    top: 3px;
}
