@import url("in.css");



/* For jQuery */
#inputmut {
	width: 880px;
}
#barmutation, #barmutdesc, #nothumanwarning, #notdomainwarning {
	display: none;
}

/* 2D bar */
.protein2d {
	height: 200px;
}
.protein2d .protsvg {
position: absolute;

	top: 80px;
	left: -25px;
	z-index: 5;
	width: 920px;
}
.protein2d .barmutations .line {
	background-color: #bbb;
}
.link { 
	stroke: #bbb;
	stroke-width: 2;
}
.anchor { 
	fill: #bbb; 
}
.labelbox { 
	fill: black;
	opacity: 0.8;
}
.labeltext { 
	fill: black;
	text-anchor: middle;
	font-size: 12px;
}
.protein2d .dombar, .protein2d .domclick {
	cursor: pointer;
}
.labelbox {
    cursor: pointer;
}


/* Positioning corrections */
#input {
	padding-bottom: 0px;
	overflow: hidden;
}

#protein {
	width: 100%;
	height: 120px;
	position: relative;

}
#protein .contentbox, #protein .boxheadbehind {
	position: absolute;
}
#protein #inputbox {
	width: 100%;
	top: 0;
	left: 0;
}
#protein .boxhead {
	position: relative;
	z-index: 2;
	height: 20px;
	width: 100%;
	overflow: hidden;
}
#protein .boxheadbehind {
	top: 0;
	left: 0;
	z-index: 1;
}
#protein #barbox {
	top: 120px;
	left: 0;
	width: 100%;
}
#protein #nothumanwarning {
	top: 260px;
	left: 0;
	width: 100%;
}
#protein #notdomainwarning {
	top: 20px;
	right: 0px;
	z-index: 1000;
}

#protein #selectbox {
	top: 0;
	left: 226px;
	width: 0px;
	overflow: hidden;
}
#protein #selectbox .boxhead {
	width: 300px;
}
#input .styled-text {
	position: relative;
    overflow: hidden;
	height: 62px;
}
#proteininput {
    margin: 10px 5px;
}
#input .styled-text span {
    position: absolute;
}
#pwheel {
    line-height: 62px;
	height: 62px;
    padding-left: 16px;
}

#barbox .proteininfo {
	position: absolute;
	z-index: 5;
	top: 20px;
	left: 0px;
}
/* Mutation tooltip */
.muttooltip {
    position: absolute;
    z-index: 10;
    width: 200px;
    max-height: 300px;
}
.muttooltip div {
	padding: 0;
}
.muttooltip div .small {
	font-size: 12px;
	color: #444;
}
.muttooltip .ttext {
    width: 190px;
    max-height: 290px;
    padding: 5px;
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;
}
.muttooltip .ttext .head {
    font-weight: 600;
    text-align: center;
    clear: both;
}
.muttooltip .ttext .half {
    width: 85px;
    float: left;
    padding: 5px;
}
.muttooltip .ttext .whole {
    width: 180px;
    padding: 5px;
}
.muttooltip .tlabels {
    font-weight: 600;
	position: absolute;
	top: -1px; left: -1px;
	width: 200px; 
	overflow: hidden;
}
.muttooltip .tlabels .l1, .muttooltip .tlabels .l2 {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 22px; /* line(14) + padding(6) + border(2) */
}
.muttooltip .tlabels .l1 {
    
}
.muttooltip .tlabels .l2 {
    top: -1px;
}
.muttooltip .tlabels div * {
	border-style: solid;
	border-color: #999;
}
.muttooltip .tlabels div div {
    position: relative;
    z-index: 11;
    float: left;
    padding: 3px 4px;
    line-height: 14px;
    border-bottom-right-radius: 5px;

	cursor: pointer;
}
.muttooltip .tlabels .l1 div {
	border-width: 1px 1px 1px 0px;
	
}
.muttooltip .tlabels .l2 div {
	border-width: 1px 1px 1px 0px;
}
.muttooltip .tlabels div .bg {
    padding: 0;
    display: block;
    position: absolute;
    top: 0; left: 0;
    z-index: 10;
    height: 21px;
    border-width: 0px 0px 1px 0px;
    
}
.muttooltip .tlabels .l1 div:nth-of-type(1) {
	border-top-left-radius: 5px;
}
.muttooltip .tlabels div div:nth-of-type(1) {
	border-left-width: 1px;
}
.muttooltip .tlabels div.active {
    background-color: rgba(255,230,230,0.4);
}
.muttooltip .mono .nonmono {
    font-size: 12px;
    line-height: 12px;
    padding: 0;
}

.muttooltip div, .muttooltip span {
    font-size: 13px;
}
.muttooltip .mono {
	margin-left: 0px;
	font-size: 12px;
	display: block;
	background-color: rgba(0, 0, 0, 0.1);
	padding: 3px 7px;
	border-radius: 3px;
	font-weight: 600;
	overflow: auto;
	line-height: 14px;
	height: 14px;
}
.muttooltip .tlabels, .muttooltip .ttext {
    float: left;
}
/* Interaction box */


#inacbox  {
    display: none;
    position: absolute;
    z-index: 50;
    right: 0;
    top: 0px;
    width: 320px;
    height: 140px;
    overflow: hidden;

}
#inacbox  div {
    padding: 0;
}
#inacbox  .h4div, #inacbox .inacsummary  {
    position: absolute;
    top: 0; left: 0;
}
#inacbox  .h4div {
    z-index: 1;
    width: 300px;
}
#inacbox h4 {
    padding: 5px 10px;
}
#inacbox .inacsummary {
    height: 110px;
    width: 320px;
    overflow-y: auto;
    padding-top: 30px;
}

#inacbox .inacsummary > div {
    height: 20px;
    width: 140px;
    float: left;
    padding: 1px 1px 1px 10px;
}
#inacbox .inaccolor{
    display:inline-block;
    border-radius:5px;
    border: 1px solid black;
    width: 8px;
    height: 8px;
    margin-right: 2px;
}
/* Mutation selection */
.selection {
	margin: 10px 0px;
	height: 42px;
	overflow: hidden;
    display: inline-block;
}
.selection div {
	float: left;
	height: 40px;
	border-style: solid;
	border-top-width: 1px;
	border-bottom-width: 1px;
	overflow: hidden;
}
.selection label {
	height: 40px;
	display: block;
	position: relative;
}
.selection label:after {
	content:'<>';
	position: absolute;
	right: 2px; top: 10px;
	padding:0 2px 4px 2px;
	border: 0;
	border-bottom-width: 1px;
    border-bottom-style: solid;
	font-size:14px;
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	transform:rotate(90deg);
	pointer-events:none;
	font-weight: 400;
}
.selection label:before {
	content:'';
	position: absolute;
	right:0px; top:0px;
	width:25px; height: 40px;
	pointer-events:none;
}
.selection .styled-select select {
	font-size: 16px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 10px 3px;
	display: inline;
}
.selection select:before {
    display: none !important;
}

.selection .descriptor {
	border-left-width: 1px;
	border-right-width: 1px;
	padding-left: 8px;
	padding-right: 8px;
	line-height: 38px;
}
.selection .proteinname {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.selection .last {
	border-right-width: 1px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.selection .first {
	border-left-width: 1px;
}
.select-text input {
	height: 38px;
	line-height: 38px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-left: 8px;
	width: 70px;
}
#insdscr {
	padding-right: 8px;
}
#selectsub select {
	height: 100px !important;
}
#selectchain {
    width: 100px;
}
#select2sub {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
#mutvalerr {
    line-height: 40px;
    height: 40px;
    padding-left: 10px;
}
#dbs {
    font-style: italic;
}
