{% extends "base.html" %}

{% block headscript %}<script type="text/javascript" src="{{ STATIC_FOLDER }}js/in.js"></script>
<script type="text/javascript" src="{{ STATIC_FOLDER }}js/jquery.ajaxfileupload.js"></script>
{% ifequal current 'sIn' %}<link rel="stylesheet" type="text/css" href="{{ STATIC_FOLDER }}css/2dprotein.css" media="all" />
						   <script type="text/javascript" src="{{ STATIC_FOLDER }}js/jquery.color-2.1.2.min.js"></script>
						   <script type="text/javascript" src="{{ STATIC_FOLDER }}js/2dprotein.js"></script>
						   <script type="text/javascript" src="{{ STATIC_FOLDER }}js/d3.min.js"></script>
						   <script type="text/javascript" src="{{ STATIC_FOLDER }}js/d3_force_labels.js"></script>{% endifequal %}
						   <script type="text/javascript">
						       var thisPage = '{{ current }}';
						   </script>{% endblock %}

{% block body %}
<form action="../run/" method="GET" onsubmit="return validateForm();">

    <div id="tabs"><div class="tab{% ifequal current 'sIn' %} active{% endifequal %}" id="onetab"><a href="/">Single mutation</a></div><div class="tab{% ifequal current 'mIn' %} active{% endifequal %}" id="manytab"><a href="/many/">Multiple mutations</a></div></div>
    <div id="input" class="field">
        <fieldset>
            <div class="top">
                <h2>{% ifequal current 'mIn' %}Input proteins with mutations{% else %}Pick protein and mutation{% endifequal %}</h2>
                <div class="description" data-prev="">Predict stability effects of mutations on protein folding and interactions</div>
                <div class="line"><hr /></div>
            </div>
            <div class="content" id="protein">


                {% block bodyin %} {% endblock %}

			
            </div>
            
        </fieldset>
        {% ifequal current 'mIn' %}
			<div id="nothumanwarning"><div>
				Warning: because some of the selected proteins are not human, the calculations can take up to several hours.
			</div></div>
		{% endifequal %}
    </div>


    <div id="email" class="field">
        <fieldset>
            <div class="content">
                Your email address (optional): <div class="styled-text"><input type="text" id="emailtext" class="text" name="email" placeholder="name@institution.com" /></div>
            </div>
        </fieldset>
    </div>
    <textarea class="fake" id="fakearea" name="proteins"></textarea>
    <input class="fake" type="hidden" name="f" id="me" value="{{ current }}" />
    <input class="fake" type="hidden" name="chain" id="chain" />
    <input class="fake" type="hidden" name="jid" id="jid" />
    <input id="submit" class="submit" type="submit" value="Submit" /><span id="submiterr"></span>

</form>

<!-- --------------------------------------------------- -->
<!-- - Tooltips. 									   - -->
<!-- --------------------------------------------------- -->	
<div class="tooltip up" id="tdom">
    <div class="tinner">
	    <div class="tclose" id="tcdom">x</div>
	    <div class="ttext">
		    Because {{ SITE_NAME }} uses structures of protein domains to predict 
		    stability/affinity effects, the mutation has to fall within domain boundries.<br />
		    <div><i>For more information about the mechanisms of {{ SITE_NAME }}, see 
		    <a href="/reference/" class="click2">the published paper</a>.</i></div>
	    </div>
    </div>
</div>
<div class="tooltip" id="tdgwtf">
	<div class="tinner">
		<div class="tclose" id="tcdgwtf">x</div>
		<div class="ttext">
			<b>Final &#916;&#916;G</b>
			<div>The final Gibbs free energy change (&#916;&#916;G) in kcal/mol is predicted using more than 70 
			sequential, molecular, and energetic features.</div>
			<div><i>For more information see <a href="/reference/" class="click2">the original publication</a>.</i></div>
		</div>
	</div>
</div>
<div class="muttooltip descbar" id="tmut">
    <div class="tlabels"><div class="l1"></div><div class="l2"></div></div>
    <div class="ttext">
        <div class="head" id="mutthead"></div>
		<div class="half" id="muttsid">Seq iden<span id="sbseq" class="mono"></span></div>
		<div class="half">Model score: <span id="sbdop" class="mono"></span></div>
		<div class="half">&#916;G<sub>wt</sub> <span class="small">(FoldX)</span>: <span id="sbdgwt" class="mono"></span></div>
	   	<div class="half">&#916;G<sub>mut</sub> <span class="small">(FoldX)</span>: <span id="sbdgmut" class="mono"></span></div>
		<div class="whole ddg">Final &#916;&#916;G <div class="help dgwtf"></div>: <span id="sbddg" class="mono"></span></div>
        <div class="whole dbs" id="dbs"></div>
	</div>
</div>


{% endblock %}
