{% extends "res.html" %}

{% block headscript %}

	{% include "result_head.html" %}

{% endblock %}


{% block otherfields %}

    <div id="summary" class="field topfield">
        <div class="top ">
            <h2>Results</h2>
            <div class="description">Prediction results for job #{{ job.jobID }} produced by {{ SITE_NAME }}</div>
            <div class="line"><hr /></div>
        </div>
        <div class="content">
			{% if isRunning %}
				<div id="notreadyyet">
					<p class="wheeltext wheelon"> 
						Your {% ifequal data.0.job.muts.count 1 %}mutation is{% else %}{{ data.0.job.muts.count }}
						mutations are{% endifequal %} still being processed.
					</p>
					<p> A job takes on average 10 minutes per human mutation, but can take hours for custom structures.This page automatically reloads every 10 seconds.
					</p>
					<p> You can safely close this window and come back at any time to check
						your results. You will be notified by email when your job is fully completed.
					</p>
				</div>

				{% comment %}
					If you have not provided an e-mail, you can close this page and come back later
					to check the completion of your job. Your server history is kept in a cookie on
					your browser and you can access it at any moment using the History link on the
					main menu to check request status or retrieve a previous results.
				{% endcomment %}

			{% else %}
				
				<div>
					{% ifequal data.0.job.muts.count 1 %}Your mutation is{% else %}All the mutations are{% endifequal %} done!
				</div>

			{% endif %}
			
			<!-- --------------------------------------------------- -->
			<!-- - Filter controls.								   - -->
			<!-- --------------------------------------------------- -->	
			<div class="contentfiller">

				<div id="filtcontrols">
					<form>
				
						<h3>Filter your results <div class="help fil"></div></h3>
				
						<div id="checkprotein">
							<b>By protein:</b><br />
							<input placeholder="write here" class="inputtext" type="text" id="inprot" /><br />
						</div>
					
						<div id="checkstatus">
							<b>By status</b>:<br />
							<input class="checkbox" id="instacom" type="checkbox" checked="checked" />
							<label class="checkboxlabel" for="instacom">Complete</label><br />
							<input class="checkbox" id="instarun" type="checkbox" checked="checked" />
							<label class="checkboxlabel" for="instarun">Running</label><br />
							<input class="checkbox" id="instaerr" type="checkbox" checked="checked" />
							<label class="checkboxlabel" for="instaerr">Error</label><br />
						</div>
					
						<div id="checktype">
							<b>By type:</b><br />
							<input class="checkbox" id="intypcor" type="checkbox" checked="checked" />
							<label class="checkboxlabel" for="intypcor">Core</label><br />
							<input class="checkbox" id="intypint" type="checkbox" checked="checked" />
							<label class="checkboxlabel" for="intypint">Interface</label><br />
							<input class="checkbox" id="intypunk" type="checkbox" checked="checked" />
							<label class="checkboxlabel" for="intypunk"><i>None</i></label><br />
						</div>
						{% spaceless %}
							<div id="checkscore">
								<b>By score:</b>
								<div id="tableseq">
									<input placeholder="0" class="inputtext num" type="text" id="inseqbot" /> 
									<span>&#8804;</span><span class="midtext">seq iden</span><span>&#8804;</span>
									<input placeholder="0" class="inputtext num" type="text" id="inseqtop" />
								</div>
								<div id="tableali">
									<input placeholder="0" class="inputtext num" type="text" id="inalibot" /> 
									<span>&#8804;</span><span class="midtext">alignment</span><span>&#8804;</span>
									<input placeholder="0" class="inputtext num" type="text" id="inalitop" />
								</div>
								<div id="tabledop">
									<input placeholder="0" class="inputtext num" type="text" id="indopbot" /> 
									<span>&#8804;</span><span class="midtext">model</span><span>&#8804;</span>
									<input placeholder="0" class="inputtext num" type="text" id="indoptop" />
								</div>
								<div id="tablewdg">
									<input placeholder="0" class="inputtext num" type="text" id="indgwbot" /> 
									<span>&#8804;</span><span class="midtext">&#916;G<sub>wt</sub></span><span>&#8804;</span>
									<input placeholder="0" class="inputtext num" type="text" id="indgwtop" />
								</div>
								<div id="tablemdg">
									<input placeholder="0" class="inputtext num" type="text" id="indgmbot" /> 
									<span>&#8804;</span><span class="midtext">&#916;G<sub>mut</sub></span><span>&#8804;</span>
									<input placeholder="0" class="inputtext num" type="text" id="indgmtop" />
								</div>
								<div id="tableddg">
									<input placeholder="0" class="inputtext num" type="text" id="inddgbot" /> 
									<span>&#8804;</span><span class="midtext">&#916;&#916;G</span><span>&#8804;</span>
									<input placeholder="0" class="inputtext num" type="text" id="inddgtop" />
								</div>
							</div>
						{% endspaceless %}
					</form>
				</div>
				<div class="leftcontent">
					<p style="margin: 0;">
						The table below shows a summary of the results
						(<a href="#download" class="click">download files</a>). <br />
						To see detailed results, click on each completed mutation.
					</p>
					<p><i>Job submitted: {{ job.getDateRun }}<br />
					   Job completed: {{ job.getDateFinished }}</i></p>
					<p><i>Your results will be kept for {{ JOB_EXPIRY_DAY }} days from the last access.</i></p>
				</div>
			</div>

			<!-- --------------------------------------------------- -->
			<!-- - Tooltips. 									   - -->
			<!-- --------------------------------------------------- -->	
			<div class="tooltip" id="tfil">
				<div class="tinner">
					<div class="tclose" id="tcfil">x</div>
					<div class="ttext">
						Choose which mutations you want to be shown in the result table below.<br />
						<i>The filtering will also change your downloadable files.</i><br />
						<span class="p"><span class="click" id="reset">Reset</span> to show everything.</span>
					</div>
				</div>
			</div>
			<div class="tooltip" id="toob">
				<div class="tinner">
					<div class="tclose" id="tcoob">x</div>
					<div class="ttext">
						<b>Status of calculations</b>
						<div class="img done">: Completed with success</div>
						<div class="img doneNO">: Mutation not in domain</div>
						<div class="img running">: Running</div>
						<div class="img queued">: In task queue</div>
						<div class="img error">: Error</div>
						<i>When calculations are done, you can click on each mutation to see their
						detailed results.</i>
					</div>
				</div>
			</div>
			<div class="tooltip" id="term">
				<div class="tinner">
					<div class="tclose" id="tcerm">x</div>
					<div class="ttext">
						<b>Try again</b>
						<div><span class="mono" id="toolpnm"></span> can be rerun by clicking the button: <div id="rerun">RERUN</div></div>
						<div><i>For more information about the error, <a href="/contact/" class="click2">contact us</a>.</i></div>
					</div>
				</div>
			</div>
			<div class="tooltip" id="tdgwtf">
				<div class="tinner">
					<div class="tclose" id="tcdgwtf">x</div>
					<div class="ttext">
						<b>Final &#916;&#916;G</b>
						<div>The final Gibbs free energy change (&#916;&#916;G) in kcal/mol is predicted using more than 70 
						sequential, molecular and energetic features, using the Stochastic Gradient Boosting of Decision Trees algorithm.</div>
						<div><i>For more information see <a href="/reference/" class="click2">the original publication</a>.</i></div>
					</div>
				</div>
			</div>
			
			<!-- --------------------------------------------------- -->
			<!-- - Table of results. 							   - -->
			<!-- --------------------------------------------------- -->	
			<table id="resulttable" class="tablesorter">
				<thead> 
					<tr>
						<th class="tds"><div class="help oob"></div></th>
						<th>Protein</th>
						<th>Mutation</th>
						<th class="tdt">Type</th>
                        <th class="tdpdb">Template</th>
						<th class="tdsi">Seq iden</th>
						<th class="tda">Align score</th>
						<th class="tdd">Model</th>
						<th class="tdwd">&#916;G<sub>wt</sub></th>
						<th class="tdmd">&#916;G<sub>mut</sub></th>
						<th class="tdg">&#916;&#916;G <div class="help dgwtf"></div></th>
					</tr>
				</thead>
				<tbody> 
					{% for jm in data %}{% spaceless %}
						{% for rmut in jm.realMut %}
						<tr class="{{ jm.mut.status }}{% ifequal jm.mut.affectedType 'NO' %}NO{% endifequal  %}" data-pnt="{{ jm.inputIdentifier }}.{{ jm.mut.mut }}{% ifequal jm.mut.affectedType 'IN' %}_{{ rmut.model.id }}{% endifequal %}">
							<!-- Status -->
							<td class="tds {{ jm.mut.status }}{% ifequal jm.mut.affectedType 'NO' %}NO{% endifequal  %}">
								{% ifequal jm.mut.status 'done' %}<a href="{{ jm.inputIdentifier }}.{{ jm.mut.mut }}/{% if rmut.inacd %}?p={{ rmut.inacd }}{% endif %}">
									{% ifequal jm.mut.affectedType 'NO' %}
										<span class="hidden">2</span>
									{% else %}
										<span class="hidden">1</span>
									{% endifequal %}
								&nbsp</a>{% endifequal %}
								{% ifequal jm.mut.status 'error' %}
									<span class="hidden">5</span>
								{% endifequal %}
								{% ifequal jm.mut.status 'queued' %}
									<span class="hidden">4</span>
								{% endifequal %}
								{% ifequal jm.mut.status 'running' %}
									<span class="hidden">3</span>
								{% endifequal %}
							</td>
							<!-- Protein name -->
							<td class="tdp mono">
								{% ifequal jm.mut.status 'done' %}<a href="{{ jm.inputIdentifier }}.{{ jm.mut.mut }}/{% if rmut.inacd %}?p={{ rmut.inacd }}{% endif %}">{% endifequal %}
									<span>{{ jm.inputIdentifier }}</span>
								{% ifequal jm.mut.status 'done' %}</a>{% endifequal %}	
							</td>
							<!-- Mutation -->
							<td class="tdm mono">
								{% ifequal jm.mut.status 'done' %}<a href="{{ jm.inputIdentifier }}.{{ jm.mut.mut }}/{% if rmut.inacd %}?p={{ rmut.inacd }}{% endif %}">{% endifequal %}
									<span>{{ jm.mut.mut }}</span>
								{% ifequal jm.mut.status 'done' %}</a>{% endifequal %}	
							</td>
							<!-- Type (core or interface) -->
							<td {% ifnotequal jm.mut.status 'done' %}colspan="8" {% endifnotequal %}class="tdt">
								{% ifequal jm.mut.status 'done' %}<a href="{{ jm.inputIdentifier }}.{{ jm.mut.mut }}/{% if rmut.inacd %}?p={{ rmut.inacd }}{% endif %}">{% endifequal %}
									<span>
										{% ifequal jm.mut.affectedType 'CO' %}Core{% endifequal %}
										{% ifequal jm.mut.affectedType 'IN' %}Interface w/ {{ rmut.inac }}{% endifequal %}
										{% ifequal jm.mut.affectedType 'NO' %}<i>None</i>{% endifequal %}
										{% if not jm.mut.affectedType %}
											{% ifequal jm.mut.status 'error' %}
												<span class="hidden">zz</span>
												{% comment %}
													# 1: Complete with errors.
													# 2: Pipeline crash (log saved).
													# 3: Out of time, set in settings.py.
													# 4: Unknown error, not logged.
													# 5: Blacklisted protein.
												{% endcomment %}
												{% ifequal jm.mut.error.0 '5' %}
													Protein is blacklisted for being too long or irregular.
												{% else %}
													{% ifequal jm.mut.error.0 '3' %}
														Mutation exceeded the time limit of {{ TIME_LIMIT }} hours.
													{% endifequal %}
													{% ifequal jm.mut.error.0 '2' %}
														{{ SITE_NAME }} closed unexpectedly. 
													{% endifequal %}
													{% ifequal jm.mut.error.0 '1' %}
														{{ SITE_NAME }} failed with the error: <i>{{ jm.mut.error|slice:"3:" }}</i>.
													{% endifequal %}
                                                    {% if job.localID|length > 0 %}
													<div class="help erm" data-pnm="{{ jm.inputIdentifier }}.{{ jm.mut.mut }}"></div>
                                                    {% endif %}
												{% endifequal %}
											{% else %}
												<span>&nbsp</span><span class="hidden">z</span>
											{% endifequal %}
										{% endif %}
									</span>
								{% ifequal jm.mut.status 'done' %}</a>{% endifequal %}	
							</td>
                            <!-- Template -->
							<td {% ifnotequal jm.mut.status 'done' %}style="display: none;" {% endifnotequal %}class="tdi mono">
							{% ifequal jm.mut.status 'done' %}<a href="{{ jm.inputIdentifier }}.{{ jm.mut.mut }}/{% if rmut.inacd %}?p={{ rmut.inacd }}{% endif %}">{% endifequal %}

									{% if rmut.pdbtemp %}
										<span>{{ rmut.pdbtemp|safe }}</span>
									{% else %}<span>&nbsp</span>
										{% if jm.mut.error %}
											<span class="hidden">1000002</span>
										{% else %}
											{% ifequal jm.mut.status 'done' %}
												<span class="hidden">1000000</span>
											{% else %}
												<span class="hidden">1000001</span>
											{% endifequal %}
										{% endif %}
									{% endif %}

							{% ifequal jm.mut.status 'done' %}</a>{% endifequal %}	
							</td>
							<!-- Sequence identity -->
							<td {% ifnotequal jm.mut.status 'done' %}style="display: none;" {% endifnotequal %}class="tdi mono">
							{% ifequal jm.mut.status 'done' %}<a href="{{ jm.inputIdentifier }}.{{ jm.mut.mut }}/{% if rmut.inacd %}?p={{ rmut.inacd }}{% endif %}">{% endifequal %}

									{% if rmut.seqid %}
										<span>{{ rmut.seqid }}</span>
									{% else %}<span>&nbsp</span>
										{% if jm.mut.error %}
											<span class="hidden">1000002</span>
										{% else %}
											{% ifequal jm.mut.status 'done' %}
												<span class="hidden">1000000</span>
											{% else %}
												<span class="hidden">1000001</span>
											{% endifequal %}
										{% endif %}
									{% endif %}

							{% ifequal jm.mut.status 'done' %}</a>{% endifequal %}	
							</td>
							<!-- Alignment score -->
							<td {% ifnotequal jm.mut.status 'done' %}style="display: none;" {% endifnotequal %}class="tda mono">
							{% ifequal jm.mut.status 'done' %}<a href="{{ jm.inputIdentifier }}.{{ jm.mut.mut }}/{% if rmut.inacd %}?p={{ rmut.inacd }}{% endif %}">{% endifequal %}
				
								{% if rmut.alignscore %}
									<span>{{ rmut.alignscore }}</span>
								{% else %}<span>&nbsp</span>
										{% if jm.mut.error %}
											<span class="hidden">1000002</span>
										{% else %}
											{% ifequal jm.mut.status 'done' %}
												<span class="hidden">1000000</span>
											{% else %}
												<span class="hidden">1000001</span>
											{% endifequal %}
										{% endif %}
								{% endif %}
				
							{% ifequal jm.mut.status 'done' %}</a>{% endifequal %}	
							</td>
							<!-- DOPE score -->
							<td {% ifnotequal jm.mut.status 'done' %}style="display: none;" {% endifnotequal %}class="tdd mono">
							{% ifequal jm.mut.status 'done' %}<a href="{{ jm.inputIdentifier }}.{{ jm.mut.mut }}/{% if rmut.inacd %}?p={{ rmut.inacd }}{% endif %}">{% endifequal %}

									{% if rmut.model.dope_score %}
										<span>{{ rmut.model.dope_score|floatformat:3 }}</span>
									{% else %}<span>&nbsp</span>
										{% if jm.mut.error %}
											<span class="hidden">1000002</span>
										{% else %}
											{% ifequal jm.mut.status 'done' %}
												<span class="hidden">1000000</span>
											{% else %}
												<span class="hidden">1000001</span>
											{% endifequal %}
										{% endif %}
									{% endif %}

								{% ifequal jm.mut.status 'done' %}</a>{% endifequal %}	
							</td>
							<!-- FoldX wtdG -->
							<td {% ifnotequal jm.mut.status 'done' %}style="display: none;" {% endifnotequal %}class="tdwd mono">
							{% ifequal jm.mut.status 'done' %}<a href="{{ jm.inputIdentifier }}.{{ jm.mut.mut }}/{% if rmut.inacd %}?p={{ rmut.inacd }}{% endif %}">{% endifequal %}

									{% if rmut.dGwt %}
										<span>{{ rmut.dGwt }}</span>
									{% else %}<span>&nbsp</span>
										{% if jm.mut.error %}
											<span class="hidden">1000002</span>
										{% else %}
											{% ifequal jm.mut.status 'done' %}
												<span class="hidden">1000000</span>
											{% else %}
												<span class="hidden">1000001</span>
											{% endifequal %}
										{% endif %}
									{% endif %}

							{% ifequal jm.mut.status 'done' %}</a>{% endifequal %}	
							</td>
							<!-- FoldX mutdG -->
							<td {% ifnotequal jm.mut.status 'done' %}style="display: none;" {% endifnotequal %}class="tdmd mono">
							{% ifequal jm.mut.status 'done' %}<a href="{{ jm.inputIdentifier }}.{{ jm.mut.mut }}/{% if rmut.inacd %}?p={{ rmut.inacd }}{% endif %}">{% endifequal %}

									{% if rmut.dGmut %}
										<span>{{ rmut.dGmut }}</span>
									{% else %}<span>&nbsp</span>
										{% if jm.mut.error %}
											<span class="hidden">1000002</span>
										{% else %}
											{% ifequal jm.mut.status 'done' %}
												<span class="hidden">1000000</span>
											{% else %}
												<span class="hidden">1000001</span>
											{% endifequal %}
										{% endif %}
									{% endif %}

							{% ifequal jm.mut.status 'done' %}</a>{% endifequal %}
							</td>
							<!-- Final ddG -->
							<td {% ifnotequal jm.mut.status 'done' %}style="display: none;" {% endifnotequal %}class="tdg mono">
							{% ifequal jm.mut.status 'done' %}<a href="{{ jm.inputIdentifier }}.{{ jm.mut.mut }}/{% if rmut.inacd %}?p={{ rmut.inacd }}{% endif %}">{% endifequal %}

									{% if rmut.getddG %}
										<span>{{ rmut.getddG|floatformat:3 }}</span>
									{% else %}<span>&nbsp</span>
										{% if jm.mut.error %}
											<span class="hidden">1000002</span>
										{% else %}
											{% ifequal jm.mut.status 'done' %}
												<span class="hidden">1000000</span>
											{% else %}
												<span class="hidden">1000001</span>
											{% endifequal %}
										{% endif %}
									{% endif %}

							{% ifequal jm.mut.status 'done' %}</a>{% endifequal %}
							</td>
						</tr>
						{% endfor %}
						{% endspaceless %}{% endfor %}
				</tbody>
			</table>
        </div>
    </div>

	<!-- --------------------------------------------------- -->
	<!-- - Download files.	 							   - -->
	<!-- --------------------------------------------------- -->	
    <div id="download" class="field">
        <div class="top">
            <h2>Download files</h2>
            <div class="description">
            	<span id="filecount">0</span> output files
		        <span id="dlall"> - 
		        	<a href="#" data-file="allresults.zip" class="click">download them all</a>
		        </span>
            </div>
            <div class="line"><hr /></div>
        </div>
        <div class="content">
			<table id="dltable">
				<tr>
					<td class="dlleft">Results as text file</td>
					<td id="simpleresults"><a href="#" data-file="simpleresults.txt" class="click">Final &#916&#916Gs</a> <span class="desc"></span></td>
					<td id="allresults"><a href="#" data-file="allresults.txt" class="click">All results</a> <span class="desc"></span></td>
					<td></td>
				</tr>
				<tr>
					<td class="dlleft">Structures</td>
					<td id="pdbori"><a href="#" data-file="wtmodels-ori.zip" class="click">Wild-type original</a> <span class="desc"></span></td>
					<td id="pdbwt"><a href="#" data-file="wtmodels-opt.zip" class="click">Wild-type optimized</a> <span class="desc"></span></td>
					<td id="pdbmut"><a href="#" data-file="mutmodels.zip" class="click">Mutant models</a> <span class="desc"></span></td>
				</tr>
				<tr>
					<td class="dlleft">Sequences</td>
					<td id="aligns"><a href="#" data-file="alignments.zip" class="click">Alignment</a> <span class="desc"></span></td>
					<td id="seqs"><a href="#" data-file="sequences.zip" class="click">Protein sequence</a> <span class="desc"></span></td>
					<td></td>
				</tr>
				<!--<tr>
					<td class="dlleft"></td>
					<td><span class="click">Log</span> <span class="desc"></span></td>
					<td></td>
					<td></td>
				</tr>-->
			</table>
        </div>
    </div>
{% endblock %}
